@using Domain.Entities
@model List<Persona>

<div class="container mt-4">
    <h1 class="text-center mb-4">Listado de Personas</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var persona in Model)
            {
                <tr>
                    <td>@persona.nombre</td>
                    <td>@persona.apellidos</td>
                    <td>@persona.fechaNac.ToString("dd/MM/yyyy")</td>
                    <td>@persona.direccion</td>
                    <td>@persona.telefono</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = persona.id })
                        @Html.ActionLink("Details", "Details", new { id = persona.id })
                        @Html.ActionLink("Delete", "Delete", new { id = persona.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>